body{
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Acumin Pro Italic', sans-serif;
}

:root{
  --primary-color:#006EB6;
  --secondary-color:#A2DAFF;
  --gray:#656565;
  --bold-gray:#555555;
  --RM-color: #85CEFF;
  --merit-color: #006EB6;
  --total-color: #E6E5E0;
}

#calculatorScreen{
/*   border-style:solid;
  border-color: var(--primary-color);
  border-width: thin;
  padding-left: 30px;
  padding-right: 30px;
  margin:15px;
  border-radius:10px;
  max-width: 300px;
  min-width: 300px; */
  background-color: #006EB6;
  display: flex;
  width: 1452px;
  padding: 64px 174px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 31px;
}

.calculatorHeader{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.calculatorHeader h1{
  color: #FFFFFF;
}

.calculator, .resultsContainer{
  display: flex;
  width: 445px;
  height: 641px;
  padding: 27px 24px;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  border-radius: 12px;
  background: #F8F9FA;
}

.calcOpt{
  display: flex;
  align-items: center;
  align-self: stretch;
  justify-content: space-evenly;
  text-transform: uppercase;
}

.calcOpt p{
  text-align: center;
  font-feature-settings: 'liga' off, 'clig' off;
  display: flex;
  padding-top: 28px;
  padding-bottom: 18px;
  margin: 0%;
  font-size: 15px;
  font-weight: 600;
  font-style: normal;
  letter-spacing: 1.8px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex: 1 0 0;
  cursor: pointer;
}


.hidden{
  visibility: hidden;
  width: 0;
  height: 0;
}

.current{
  color: var(--primary-color);
  border-bottom: 5px solid #006EB6;
}

.grey{
  color: var(--gray);
  font-size: .8em;

}
.underline{
  border-bottom: 2px solid #ADB5BD;
}
.bold{
  color: var(--bold-gray);
}

.calculatorContainer, .resultsContainer{
  display: flex;
  align-items: center;
  gap: 31px;
}


.calculatorForm form{
  display: flex;
  padding: 0px 12px;
  flex-direction: column;
  gap: 24px;
  align-self: stretch;
}

form label{
  display: flex;
  flex-direction: column;
}

form p{
  color:  #656565;
  margin: 0%;
  text-align: center;
  font-feature-settings: 'liga' off, 'clig' off;
  font-size: 18px;
  font-style: italic;
  font-weight: lighter;
  line-height: 27px;
  height: auto;
  padding: 0px 4px 0px 4px;
}

.label{
  color: #363636;
  font-feature-settings: 'liga' off, 'clig' off;
  font-size: 15px;
  font-weight: 500;
  line-height: 24px; 
}


select, option{
  display: flex;
  margin-top: 8px;
  padding: 13px 8px;
  justify-content: space-between;
  align-items: center;
  flex: 1 0 0;
  border-radius: 4.9px;
  border: .13em solid #006db67a;
  background:  #FFF;
  background: url(http://www.w3.org/2000/svg) right;

  
}

.styled-select{
  font-family: 'Acumin Pro';
  font-size: 16px;
  font-weight: 600;
  color: #ADB5BD;
}
.checks{
  color: #656565;
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-self: stretch;
  margin-top: 5px;
  margin-bottom: 7px;
}
.checkLabels{
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 17px;
  gap: 50px;
  padding: 4px 0px;
  align-items: flex-start;
  align-self: stretch;
}

.checkLabels p{
  margin: 0;
}

.checkbox{
  display: flex;
  width: 24px;
  min-width: 24px;
  height: 24px;
  padding: 2px;
  justify-content: center;
  align-items: center;
  accent-color: #006EB6;
}

.calculate{
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  background-color:var(--primary-color);
  border-radius: 4.8px;
  border: 1px solid var(--primary-color);
  margin-bottom: 28px;
  margin-top: 24px;  
  height: 39px;
  padding: 8px 16px;
  gap: 8px;
  flex-shrink: 0;
}
.calculate a{
  font-feature-settings: 'liga' off, 'clig' off;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  letter-spacing: 2.5px;
  text-transform: uppercase;
}

.calculateButton{
  color: #FFFF;
}


.pending{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding-left: 88px;
  padding-right: 88px;
  width: auto;
  height: 100%;
  color: #ADB5BD;
}

.resultsContainer{
  display:none;  
}

.statement{
  align-self: stretch;
  color:  #656565;
  text-align: center;
  font-feature-settings: 'liga' off, 'clig' off;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px; 
  margin-bottom: 2px;
}

.resultsHeader{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.breakdown{
  color: var(--bold-gray); 
}

.breakdown2{
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}
.merit{
  color: var(--merit-color);
  font-weight: bold;
}

.rMissionary{
  color: var(--RM-color);
  font-weight: bold;
}

@media screen and (min-width: 832px){
  #calculatorScreen{
    min-width:900px;
    max-width:900px;
  }
  .calculatorContainer, .resultsContainer{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    margin:15px;
  }
  /* .calculator{
    display: block;
    width:390px
  } */
  .resultsContainer{
    display: block;

  }
  /* .checkLabels{
    max-width: 390px;
  } */
  
  #startOver{
    display: none;
  }
  
}

/******************************************************************************************************************************************************************************/


@property --merit {
  syntax: "<percentage>";
  inherits: true;
  initial-value: 0%;
}

@property --RM {
  syntax: "<percentage>";
  inherits: true;
  initial-value: 0%;
}
/* 
@keyframes progress {
  from {
    --merit: 0%;
    --RM: 0%
  }

  to {
    --merit: 0%;
    --RM: 0%
  }
} */

.circle {
  --merit: 0%;
  --RM: 0%;
 
  background: conic-gradient(
    at center,
    var(--merit-color) var(--merit),
    calc(var(--merit)),
    var(--RM-color) calc(var(--RM)),
    calc(var(--RM)),
    var(--total-color) calc(var(--merit))
  );
  animation: progress 2s linear 1 forwards;
  border-radius: 50%;
  mask: radial-gradient(circle at center, transparent 60%, black 60%);
  position: absolute;
  inset: 0;
}

.circleContainer {
  filter: drop-shadow(0 0 0.8vmin hsla(0, 0, 0%, 1));
  position: relative;
  width: 200px;
  margin: 25px;
  aspect-ratio: 1;

  &:after {
    display: flex;
    content: "Total Scholarships";
    white-space: pre;
    position: absolute;
    inset: 0;
    color: var(--bold-gray);
    display: grid;
    place-items: center;
  }
}

.circle.animate {
  animation: progress 2s linear 1 forwards;
}


